interval: 60s
slackURL: https://hooks.slack.com/services/000000000/000000000/000000000000000000000000
checks:
  - Name: Production
    Source: http://www.par8o.com/revision
    Verify: https://github.com/par8o/par8o/commit/%s
  - Name: Qa
    Source: http://qa.par8o.com/revision
    Verify: https://github.com/par8o/par8o/commit/%s
